<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.zest"
            class="com.github.walknwind.xgmml.XgmmlView"
            icon="icons/noun_project_1056.png"
            id="com.github.walknwind.xgmml.XgmmlView"
            name="XGMML Graph"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.github.walknwind.xgmml.VisualizeCommandHandler"
            description="Display XGMML in a graph view"
            id="com.github.walknwind.xgmml.commands.visualize"
            name="Visualize XGMML">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.menus.showInMenu">
         <command
               commandId="com.github.walknwind.xgmml.commands.visualize"
               label="XGMML Viewer"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <reference
                     definitionId="com.github.walknwind.xgmml.definitions.isXgmmlSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.github.walknwind.xgmml.definitions.isXgmmlSelected">
         <and>
            <with
                  variable="selection">
               <iterate>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="xgmml">
                     </test>
                  </and>
               </iterate>
               <count
                     value="1">
               </count>
            </with>
         </and>
      </definition>
   </extension>

</plugin>
